*{
    padding: 0;
    margin: 0;
}
.content{
        text-align: center;
    padding-top: 290px;
    background-color: #FEF5E7;
    width: 100vw;
    height: 100vh;

}
h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 80px;
    text-shadow: 2px 2px 4px #888888;

}
.content p{
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    font-size: 28px;
}